
@model BeerBook.Models.Responses.BeerItem


<div class="table">
    <div class="row">
        <div class="col-2">Name:</div>
        <div class="col-4">@Model.Name</div>
        <div class="col-2">Brewery:</div>
        <div class="col-4">@Model.Brewery</div>
    </div>
    <div class="row">
        <div class="col-2">Syle:</div>
        <div class="col-2">@Model.Style</div>
        <div class="col-2">Abv:</div>
        <div class="col-2">@Model.Abv %</div>
        <div class="col-2">Ibus:</div>
        <div class="col-2">@Model.Ibus</div>
    </div>
</div>

